*{
    margin: 0;
    padding: 0;
}
.toy-cart{
    width: 200px;
    height: 200px;
    text-align: center;
    box-shadow: 0px 0px 6px #aca7a7;
    padding: 4px;
    margin-top: 10px;
    img{
        width: 100%;
        object-fit: contain;
        height: 150px;
    }
}
.demTable {
    border:1px solid #b3adad;
    border-collapse:collapse;
    padding:5px;
    width: 100%;
}
.demTable th {
    border:1px solid #b3adad;
    padding:5px;
    background: #f0f0f0;
    color: #313030;
}
.demTable td {
    border:1px solid #b3adad;
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
}
.custom-button{
    background: white;
    padding: 12px 40px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 19px;
}
.categories-main{
    width: 100px;
    height: 100px;
    background: #d5e7cc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    img{
        width: 68%;
    }
}
.categories-main::after{
    width: 120px;
    height: 120px;
    content: "";
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    border: 1px solid #343d30;
    border-style: dashed;
}
.categories-name{
    width: 120px;
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
}
.categories-button{
    font-size: 12px;
    padding: 9px 18px;
    border-radius: 26px;
    transition: .2s ease-in-out;
    margin: 5px 0;
   
    border: 1px solid #429519;
    cursor: pointer;
    margin-left: 10px;
}
.selected-categories-button{
    background: #429519;
    color: white;
}
.unselected-categories-button{
    background: white;
    color: black;
}

.cart-btn{
    background-color: #429519;
    color: white;
    padding: 4px 17px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    border: none;
    display: flex;
    align-items: center;
    height: 36px;
    cursor: pointer;
    
}

.navbar-actions{
    width: 128px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.product-cart-icons{
    height: 30px;
    width: 30px;
    background: white;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px #635b5b;
    cursor: pointer;
    visibility: hidden;
}
.product-cart:hover .product-cart-icons{
visibility: visible;
}
.offer{
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 10px;
    background: red;
    padding: 4px 7px 4px 7px;
    color: white;
    font-weight: 600;
}